.buttonLink {
  background-color: #ffffff00;
  border: 1px solid #fff;
  padding: 5px;
  position: relative;
  width: 7.2em;
  height: 2em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;

  p {
    position: absolute;
    top: 0.4em;
    left: 1.2em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #fff;
  }

  img {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff;
  }

  &:hover {
    background-color: rgba(38,0,94,1);
    border: none;

    p {
      left: 0.6em;
      color: #fff;
    }

    img {
      opacity: 1;
    }
  }
}
