
.header-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 2rem;

  a {
    
    transition: all 0.2s;
    color: #5d029e;
    
    &:hover {
      scale: 1.1;
      color: aliceblue;
    }

    
  }



}

@media (max-width: 480px) {
  .header-social{
    flex-direction: row;
  }



}


