
.header-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 2rem;


  

  a {
    
    transition: all 0.2s;
    color: #5d029e;

    .logoSvg{
      width: 35px;
      padding: 0;
      margin: 0;
    }
    &:hover {
      scale: 1.1;
      
    }
   

    
  }



}

@media (max-width: 480px) {
  .header-social{
    flex-direction: row;
  }



}


