.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1460px;

  .contact-content {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    
    gap: 2rem;
    padding: 3rem;

    
    .card{

      border-radius: 20px;
      padding: 5px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      background-image: linear-gradient(144deg,#5d029e, #5B42F3 50%,#00DDEB);
      width: 300px;

      article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
             
        background: rgb(5, 6, 45);
        border-radius: 17px;
        width: 100%;
        height: 100%;
          
        gap: 1rem;
        width: 100%;
        max-width: 300px;
        border-radius: 1rem;
        padding: 1rem;
        transition: all 0.2s;
  
     
  
        svg{
          font-size: 1.5rem;
        }
        a{
          color: rgb(98, 161, 255);
  
          transition: all 0.2s;
  
          &:hover {
            scale: 1.1;
          }
        }
      }
    }
    }

   



  .form-container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    width: 50%;
    margin-bottom: auto;
    margin-top: 3rem;
    gap: 1rem;

    input, textarea{
      width: 100%;
      max-width: 600px;
      color: white;
      transition: all 0.2s;
      background: rgb(5, 6, 45);
      padding: 10px;
      border: 1px solid #bc33fc62;
      border-radius: 5px;
      

      &:focus {
        background-color: transparent;
        color: rgb(111, 0, 255);
        outline-color: rgb(111, 0, 255);
        box-shadow: -3px -3px 15px rgb(111, 0, 255);
        transition: .1s;
        transition-property: box-shadow;
      }

    }

    button{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 10px 20px;
      border-radius: 7px;
      border: 1px solid rgb(111, 0, 255);
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 2px;
      background: rgb(5, 6, 45);
      color: #fff;
      overflow: hidden;
      box-shadow: 0 0 0 0 transparent;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
        
        svg{
          margin-left: 10px;
          
        }
  
        &:hover {
          background: rgb(111, 0, 255);
          box-shadow: 0 0 30px 5px rgb(111, 0, 255);
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
          &::before {
            -webkit-animation: sh02 0.5s 0s linear;
            -moz-animation: sh02 0.5s 0s linear;
            animation: sh02 0.5s 0s linear;
          }
        
        }

        &::before {
          content: '';
          display: block;
          width: 0px;
          height: 86%;
          position: absolute;
          top: 7%;
          left: 0%;
          opacity: 0;
          background: #fff;
          box-shadow: 0 0 50px 30px #fff;
          -webkit-transform: skewX(-20deg);
          -moz-transform: skewX(-20deg);
          -ms-transform: skewX(-20deg);
          -o-transform: skewX(-20deg);
          transform: skewX(-20deg);
        }

        &:active {
          box-shadow: 0 0 0 0 transparent;
          -webkit-transition: box-shadow 0.2s ease-in;
          -moz-transition: box-shadow 0.2s ease-in;
          transition: box-shadow 0.2s ease-in;
        }

        @keyframes sh02 {
          from {
            opacity: 0;
            left: 0%;
          }
        
          50% {
            opacity: 1;
          }
        
          to {
            opacity: 0;
            left: 100%;
          }
        }

       
    }
    
  }
}

@media (max-width: 768px) {
  .contact-container{
    flex-direction: column;

    .contact-content{
      article {
        width: 100vw;
      }
    }
  }


}