.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;


  .header-text{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    h1{
      font-size: 2.5rem;
      background: -webkit-linear-gradient(#eee, rgb(44, 0, 163));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
     margin-top: 2rem;
    }
    
  }

  .header-buttons{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-right: 1rem;
    
    .button-cv {
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.8rem;
      transition: all 0.3s;
      background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      border: 0;
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      box-sizing: border-box;

      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 15px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        background-image: linear-gradient(144deg,#5d029e, #5B42F3 50%,#00DDEB);
        z-index: -1;
        -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
        transition: all 250ms
      }

      &:hover {
        scale: 1.1;
        color: #e8e8e8;

        &::before{
          width: 100%;
        }
      }
    }

    .button-lts {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      padding: 0.8rem;
      background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
      border: 0;
      border-radius: 8px;
      box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
      box-sizing: border-box;

      color: white;
      transition: all 0.3s;

      &:hover {
        scale: 1.1;
      }
    }
  }
}
