.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;


  .header-text{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    h1{
      font-size: 2.5rem;
    }
    
  }

  .header-buttons{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    
    .button-cv {
      padding: 0.8rem;
      border-radius: 15px;
      border: 1px solid #bc33fc;
      background: transparent;
      color: #bc33fc;
      transition: all 0.3s;

      &:hover {
        scale: 1.1;
      }
    }

    .button-lts {
      padding: 0.8rem;
      border-radius: 15px;
      border: 1px solid white;
      background: #bc33fc62;
      color: white;
      transition: all 0.3s;

      &:hover {
        scale: 1.1;
      }
    }
  }
}